<!DOCTYPE html>
<html lang="en">

{% include "layout/partials/head.twig" %}

<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include "layout/partials/nav.twig" %}
    </nav>

    <div class="header_stips progress" style="height: 2px;">
        <div class="progress-bar progress-bar-info" style="width: 25%;"></div>
        <div class="progress-bar progress-bar-success" style="width: 25%;"></div>
        <div class="progress-bar progress-bar-warning" style="width: 25%;"></div>
        <div class="progress-bar progress-bar-danger" style="width: 25%;"></div>
    </div>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="margin: 0; padding: 0;">
                    <div class="content">
                        {{ block("body") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- general modal start -->
<div id="modal-general" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>

                <h3><i class="fa fa-info-circle"></i> Info</h3>
            </div>
            <div class="modal-body text-center" style="font-weight: bold; font-size: 14px;"></div>
        </div>
    </div>
</div>
<!-- general modal end -->

<!-- general modal start -->
<div id="modal-save" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>

                <h3><i class="fa fa-bookmark"></i> Save Snippet</h3>
            </div>
            <div class="modal-body">
                <label for="categoryName">Category Name</label>
                <select class="form-control" id="categoryName" autofocus style="width: 100%">
                    <option value="">Choose</option>
                    {% for key,items in snippet_entries %}
                        <option value="{{key}}">{{key}}</option>
                    {% endfor %}
                </select>
                <br/><br/>
                <label for="snippetName">Snippet Name</label>
                <input autofocus type="text" id="snippetName" class="form-control"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close
                </button>
                <button type="button" id="btnSaveModal" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>
<!-- general modal end -->

<!-- general modal start -->
<div id="modal-snippets" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>

                <h3><i class="fa fa-bookmark"></i> Snippets</h3>
            </div>
            <div class="modal-body">
                <input type="text" id="search" onkeyup="search()" class="form-control" placeholder="Search Snippets" style="width:100%;">
                <br>

                {% for key,items in snippet_entries %}
                    <div class="label label-success" style="font-size:14px;">{{key}}</div>                    
                    
                    <ul class="code_entry" id="list-search" style="list-style:none; margin-top:10px;">
                    {% for item in items %}                        
                        <li>
                            <i class="fa fa-trash btn btn-danger btn-sm" data-folder="{{key}}" data-name="{{ item.name }}"></i> 
                            <span class="badge badge-info" style="font-size:14px; background:#eee;">
                                <a href="javascript:void(0);" style="color:#333;">{{ item.name }}</a>
                            </span>
                            <span rel="false" class="ph_code">{{ item.code }}</span>
                        </li>
                    {% endfor %}
                    </ul>
                {% endfor %}                
            </div>
        </div>
    </div>
</div>
<!-- general modal end -->

{% include "layout/partials/footer.twig" %}

<script>
function search() {
    var filter = $('#search').val(), count = 0;

    $("#list-search li").each(function () {
        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
            $(this).hide('fast');
        } else {
            $(this).show();
            count++;
        }
    });

    return false;
}
</script>

</body>
</html>
